<div class="freelancer-section-container">
  <!-- Header -->
  <header class="navbar">
    <div class="logo">
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Buscar Freelancers" />
      <button class="filter-btn" (click)="filterFreelancers()">Filtrar</button>
      <select class="sort-dropdown">
        <option value="skills">Habilidades</option>
        <option value="Experience">Experiencia</option>
        <option value="fee">Tarifa</option>
      </select>
    </div>
  </header>

  <!-- Main Content -->
  <div class="main-content">
    <section class="freelancer-listing">
      <h2>Busque Freelancers indicados para su proyecto</h2>
      <p>¿Buscas freelancers de primer nivel? Coderlink te los proporciona</p>

      <!-- Freelancer Cards -->
      <div class="freelancer-list">
        <div class="freelancer-card" *ngFor="let freelancer of freelancers">
          <div class="freelancer-img">
            <img src="icons/desarrollador2.png" alt="Freelancer Profile" />
          </div>
          <div class="freelancer-info">
            <h3>{{ freelancer.name }}</h3>
            <p>{{ freelancer.description }}</p>
            <p class="rating">⭐ {{ freelancer.rating }} ({{ freelancer.reviews }})</p>
            <p class="price">${{ freelancer.hourlyRate }}/h</p>
            <button class="view-profile-btn" (click)="viewProfile()">Ver Perfil</button>
            <button class="favorite-btn" [ngClass]="{ 'favorited': freelancer.isFavorite }" (click)="setFavorite(freelancer)">❤</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
