<div class="project-section-container">
    <header class="navbar">
      <div class="logo">
      </div>
      <div class="search-bar">
        <input type="text" placeholder="Buscar trabajos..." />
        <button>Buscar</button>
      </div>
    </header>
  

    <div class="main-content">
      <aside class="filter-sidebar">
        <h3>Filtrar por:</h3>
        <div class="filter-category">
          <h4>Categorías</h4>
          <ul>
            <li><input type="checkbox" /> Sistema Web</li>
            <li><input type="checkbox" /> Aplicaciones Web</li>
            <li><input type="checkbox" /> Backend</li>
            <li><input type="checkbox" /> Frontend</li>
            <li><input type="checkbox" /> FullStack</li>
          </ul>
        </div>
  
        <button class="apply-filters-btn">Aplicar Filtros</button>
      </aside>

      <section class="jobs-listing">
        <div class="job-card" *ngFor="let job of jobs">
          <h3>{{ job.title }}</h3>
          <p>{{ job.description }}</p>
          <div class="job-details">
            <span>Precio: {{ job.price | currency }}</span>
          </div>
          <button (click)="viewJobDetails(job.id)">Ver Detalles</button>
        </div>
      </section>
    </div>
  </div>
  