$background-color: #6fa1a4;
$card-background: #ffffff;
$text-color: #333;
$primary-color: #2f4f4f;
$button-color: #5b9a9a;

.portafolio-container {
  background-color: $background-color;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  min-height: 100vh;

  h2 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 2rem;
  }
  
  .btn-secondary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: darken(#5b9a9a, 10%);
    }
  }
  .back-button-container {
    text-align: left; 
    margin-bottom: 20px; 
  }

  .card {
    background-color: $card-background;
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    color: $text-color;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 0 auto;

    h3 {
      color: $primary-color;
      margin-bottom: 10px;
    }

    p {
      font-style: italic;
      margin-bottom: 15px;
    }

    .web-section {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 10px;

      label {
        font-weight: bold;
        margin-right: 10px;
      }

      input {
        flex: 1;
        padding: 8px;
        border: 1px solid #ddd;
        border-radius: 4px;
        outline: none;
      }

      .button {
        background-color: $button-color;
        border: none;
        padding: 8px 15px;
        border-radius: 4px;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: darken($button-color, 10%);
        }
      }
    }
  }
}
