<div class="profile-container">
  <div class="back-home-container">
    <button class="back-home-btn" (click)="goToHome()">⬅ Regresar a la Página Principal</button>
  </div>
    <div class="profile-header">
      <div class="profile-image">
        <!-- Imagen de perfil -->
        <img src="icons/desarrollador2.png" alt="Imagen de perfil" />
      </div>
      <div class="profile-info">
        <h2>Nombres y Apellidos</h2>
        <p class="small-description">Pequeña descripción</p>
        <p class="full-description">Descripción más completa...</p>
        <div class="rating">
          <span>⭐ 5.6 (10)</span>
          <span class="hourly-rate">$50/h</span>
        </div>
        <button class="edit-btn" (click)="editarperfil()">Editar Perfil</button>
        <button class="contact-btn" (click)="verproyecto()">Ver Proyectos</button>
      </div>
    </div>
    <div class="portfolio">
      <h3>Portafolio</h3>
      <div class="portfolio-link">
        <!-- Mostrar el enlace del portafolio o un mensaje si no está disponible -->
        <a *ngIf="portfolioLink; else noPortfolio" [href]="portfolioLink" target="_blank" rel="noopener noreferrer">
          {{ portfolioLink }}
        </a>
        <ng-template #noPortfolio>
          <p>No se ha añadido un portafolio aún.</p>
        </ng-template>
      </div>
    </div>
  
    <div class="skills">
      <h3>Habilidades</h3>
      <div class="tags">
        <span class="tag" *ngFor="let skill of skills">
          {{ skill }}
        </span>
      </div>
      <p *ngIf="skills.length === 0">No se han añadido habilidades aún.</p>
    </div>
  </div>
  